
body {
    padding: 0;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: $em-base;
    line-height: 1.8em;
    color: $color-body;

    background: $color-bg;
}

.inner {
    max-width: 38em;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;

    font-size: 1em;
}

.site-content {
    padding: 3em 0;

    background: $color-white;
}

main {
    max-width: 36em;
    margin: 0 auto;
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1.6em;

    font-family: 'Inknut Antiqua', serif;
    letter-spacing: -0.05em;
    color: $color-heading;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
}

a {
    transition: color 0.3s ease-out;

    &:hover,
    &:active {
        color: $color-blue;
    }
}

@media only screen and (min-width: $mq-large) {
    h1 {
        font-size: 2.6em;
    }
}
