.teasers-header {
    margin-bottom: 3em;

    border-bottom: dotted 2px $color-border;
}

.post-teasers {
    padding: 0;
    margin: 0;

    list-style: none;
}

.post-teasers__item {
    margin-top: 2em;

    &:first-child {
        margin-top: 0;
    }
}

.post-teaser {
    padding-bottom: 1.5em;

    border-bottom: dotted 2px $color-border;
}

.post-teaser__title {
    margin: 0;

    font-size: em-calc(28px);
    line-height: 1.2em;
}

.post-teaser__title-link {
    display: inline-block;

    line-height: 1.2em;
    text-decoration: none;

    color: $color-bg;
}

.post-teaser__date {
    font-size: em-calc(18px);
    letter-spacing: 0.1em;
    font-weight: 300;
    color: $color-heading;
}

.post-teaser__image {
    display: block;
    margin: 0.5em auto 0;
    max-width: 100%;
}

.post-teaser__excerpt {
    margin: 0.8em 0;

    font-size: em-calc(18px);
    font-weight: 300;
    line-height: 1.6em;
}

.post-teaser__labels {
    font-size: em-calc(14px);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $color-heading;
}

.post-teaser__content {
    a,
    a:visited {
        position: relative;

        display: inline-block;

        font-weight: 600;
        color: $color-blue;
        text-decoration: none;
        text-transform: uppercase;

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;

            display: block;
            width: 100%;
            height: 2px;

            background: $color-blue;

            content: '';

            transition: all 0.3s ease;

            transform: scaleX(0);
        }

        &:hover {
            &:before {
                transform: scaleX(1);
            }
        }
    }
}

@media only screen and (min-width: $mq-large) {
    .post-teaser__title {
        font-size: em-calc(36px);
    }
}
