.site-header__inner {
    overflow: hidden;

    padding-top: 1.5em;
    padding-bottom: 1.5em;

    text-align: center;

    .site-header__secondary-nav & {
        padding-top: 1em;
        padding-bottom: 1em;

        opacity: 0.7;
    }
}

.site-header__logo {
    display: block;

    font-size: 1em;
}

.site-header__logo-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 14em;
    height: 3em;

    text-indent: -9999px;

    background-image: url('../img/logo-horizontal.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.site-header__nav {
    font-weight: $font-weight-bold;

    align-items: center;
}

.site-header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header__nav-item {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.site-header__nav-link {
    position: relative;

    display: inline-block;
    padding-left: 0.3em;
    padding-right: 0.2em;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.12em;
    color: $color-white;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 2px;

        background: $color-blue;

        content: '';

        transition: all 0.3s ease;

        transform: scaleX(0);
    }

    &:hover {
        &:before {
            transform: scaleX(1);
        }
    }
}


.site-header__secondary-nav {
    display: block;

    clear: both;

    background: $color-bg-alt;
}


@media only screen and (min-width: $mq-large) {
    .site-header__inner {
        display: flex;

        text-align: left;

        justify-content: space-between;
    }

    .site-header__nav {
        display: flex;
        float: right;
    }

    .site-header__logo {
        float: left;
    }

    .site-header__nav-item {
        margin-left: 1em;
        margin-right: 0;

        &:first-child {
            margin-left: 0;
        }
    }
}
