.site-header {
    padding: 2.5em 0;

    background-color: $color-black;
    background-image: url('../images/site-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-header__logo {
    margin: 0 auto;
    padding: 0;
    display: block;
    // width: 14em;
    // height: 3em;
    width: 14em;
    height: 9em;

    font-size: 1em;
    text-indent: -9999px;

    // background-image: url('../images/logo-horizontal.svg');
    background-image: url('../images/logo-stacked.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.site-header__nav {
    margin-top: 2em;

    font-weight: $font-weight-bold;
}

.site-header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header__nav-item {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.site-header__nav-link {
    position: relative;

    display: inline-block;
    padding-left: 0.3em;
    padding-right: 0.2em;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.12em;
    color: $color-white;

    &:visited {
        color: $color-white;
    }

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 2px;

        background: $color-blue;

        content: '';

        transition: all 0.3s ease;

        transform: scaleX(0);
    }

    &:hover,
    &.site-header__nav-link--active {
        color: $color-blue;

        &:before {
            transform: scaleX(1);
        }
    }
}
